<div class="mastfoot">
  <div class="inner">
    <p class="app-footer"><%= copyright_generator %></p>
    <p><a href="mailto:wickert.michael@gmail.com?subject=Portfolio%20Contact">wickert.michael@gmail.com</a></p>
  </div>
</div>