<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>A place to share news, thoughts, and adventures in computer programming and beyond.</p>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/MikeWick"><%= fa_icon "github-square" %></a></li>
      <li><a href="https://www.linkedin.com/in/michaelwickert/"><%= fa_icon "linkedin-square" %></a></li>
    </ol>
  </div>
</div>
       