
<div class="row">
  <div class="col-md-6">
    <%= image_tag "about_me_journey.jpg", width: 350, alt: "about me image" %>
    <hr>
  </div>



  <div class="col-md-6">
    <h1>About Me</h1>

    <hr>

    <p>After a decade of experience in the biotech industry working on various production and purification processes, I was eager to take on new challenges and learn innovative technologies.</p>

    <p>This desire led me on a journey into software development and has opened up a whole new world of opportunities to learn and grow as a full stack developer.</p>
  </div>
</div>

