<h1>Let's work together</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Email</h3>

    <p><a href="mailto:wickert.michael@gmail.com?subject=Portfolio%20Contact">Message me</a></p>

    <h3>Location</h3>

    <p>Saratoga Springs, NY</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "7777777777" %></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d93281.28887130473!2d-73.84212937926986!3d43.06162043951842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89de384ec75bd439%3A0x641d456a1b94a2a8!2sSaratoga+Springs%2C+NY!5e0!3m2!1sen!2sus!4v1556032277414!5m2!1sen!2sus" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
