<div class="app-card-container">
  <div class="card">

    <h1>Let's work together</h1>

    <hr>

    <div class="row">
      <div class="col-md-7">
        
        <a class="LI-simple-link" href='https://www.linkedin.com/in/michaelwickert?trk=profile-badge' target="_blank"><%= image_tag "linkedinfswd.png", width: '100%', alt: "linkedin" %></a>
      </div>
      
      <div class="col-md-5">
        
        <h3>Email Me</h3>
        
        <p><a href="mailto:wickert.michael@gmail.com?subject=Portfolio%20Contact"><i class="fa fa-envelope fa-3x" aria-hidden="true"></i></a></p>
        
        <p><a href="https://github.com/MikeWick" target="_blank"><i class="fa fa-github-square fa-3x" aria-hidden="true"></i></a></p>
        
        <p><a href="https://docs.google.com/document/d/1MeMfWDZKm3eC2SO0zZ2CRVn1ahemASMRxyOctA6KpNk/edit?usp=sharing" target="_blank"><i class="fa fa-file fa-3x" aria-hidden="true"></i></a></p>
        
<!--        <p><a href="https://www.linkedin.com/in/michaelwickert/"><i class="fa fa-linkedin fa-3x"></i></a></p>-->
        
<!--
        <p><i class="fa fa-map-marker fa-3x" aria-hidden="true"></i></p>
        
        <p>Saratoga Springs, NY</p>
-->

      </div>
    </div>
    
  </div>
</div>
